* {
  font-family: "Open Sans", sans-serif;
  border: none;
  padding: none;
  margin: 0;
}

header {
  max-width: 1140px;
  align-items: center;
  margin: auto;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-position: bottom right, left bottom;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.intro > p {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin-top: 50px;
}

.intro > p > span {
  color: #fd6e0a;
}

.intro-nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.intro-nav > ul > li {
  margin-right: 50px;
  text-decoration: none;
  list-style: none;
  color: #474747;
  font-size: 20px;
}

.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: #fd6e0a;
}

.head {
  display: flex;
  margin-top: 120px;
  align-items: center;
}

.head-text {
  margin-left: 150px;
}

.head-text > h3 {
  font-size: 45px;
  font-weight: 600;
}

.head-text > h2 {
  color: #181818;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.head-text > p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.head-text > button {
  font-size: 15px;
  font-weight: 700;
  width: 140px;
  height: 60px;
  margin-right: 20px;
  margin-top: 15px;
}

.about {
  max-width: 1140px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.about-up {
  align-items: center;
  padding: 0px 145px;
}

.about-up > h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about-up > p {
  color: #757575;
  font-size: 20px;
}

.card {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 100px;
}

.skills {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 25px;
  padding: 20px;
}

.skills > h4,
.skills > p {
  margin-top: 10px;
}

.resume {
  max-width: 1140px;
  margin: auto;
  margin-top: 100px;
}

.resume-up > h3 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.resume-down {
  display: flex;
  margin: 100px 0px;
  gap: 100px;
}

.resume-left > h2,
.resume-right > h2 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.resume-left > h3,
.resume-right > h3 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}

.resume-left > p,
.resume-right > p {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

#details {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

hr {
  border-top: 1px solid #ddd;
  margin: 20px auto;
}

footer {
  display: flex;
  background: #fff8f3;
  padding: 100px 0px;
}

.footer-item {
  max-width: 1140px;
  display: flex;
  gap: 100px;
  margin: auto;
}

.connect > h3,
.message > h3 {
  color: #181818;
  text-align: left;
  font-size: 35px;
  font-weight: 700;
}

.connect > p {
  color: #474747;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
  margin: 20px 0px;
}

.connect > img {
  margin-top: 20px;
}

.message-form > input,
.message-form > textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  width: 461px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 20px;
}

.message-form > button {
  margin: 20px 0px;
}
